@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Features configured</h2>
        <table id="featuresList" class="table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Feature Id</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
