@model IEnumerable<FeatureToggle.Definitions.FeatureConfiguration>

@{
    ViewData["Title"] = "Features List";
}

<div class="row">
    <div class="col-md-12">
        <h2>Features configured</h2>
        <table id="featuresList" class="table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Feature Name</th>
                    <th>Configuration Value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var config in Model)
                {
                    <tr>
                        <td>@config.Feature</td>
                        <td>@config.Value</td>
                        <td>
                            <button class="glyphicon glyphicon-pencil"></button>
                            <a href="Home/DeleteFeature?featureName=@config.Feature" class="glyphicon glyphicon-remove"></a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
